* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-black: #222;
  --text-white: white;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
  --shadow-light: rgba(255, 255, 255, 0.85);
  --border-black: 1px solid rgba(0, 0, 0, 0.18);

  --spacing-lg: 24px;
  --spacing-md: 16px;
  --spacing-sm: 8px;

  --bg-color-dark: #212121;
  --bg-color-light: white;
  --primary-color: #6002ee;
  --secondary-color: #ee0290;
  --success-color: #90ee02;
  --warning-color: #f0c200;
  --error-color: #ec005f;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: var(--text-black);
}

a {
  color: #000;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  padding: 16px 32px;

  background-color: var(--shadow-light);

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 864px;
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--spacing-lg);
}

.header__logo {
  font-size: 24px;
  font-weight: 600;
}

.header__list {
  display: flex;
  justify-content: space-between;
}

.header__item {
  display: flex;
  align-items: center;
}

.header__item a {
  display: inline-block;
  padding: 8px 16px;
}

.header__avatar {
  display: block;
  height: 40px;
  width: 40px;
  border: 2px solid var(--primary-color);
  background-color: red;
  background-image: url('https://pbs.twimg.com/profile_images/961550355094896640/jTE-_4-M_400x400.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

/* container */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 80px;
}

/* main */
.main {
  padding: var(--spacing-lg);
  flex: 1;

  max-width: 1074px;
  width: 100%;
  margin: 0 auto;
}

/* card */

.card {
  max-width: 864px;
  margin: 0 auto;

  width: 100%;
  min-height: 354px;
  padding: var(--spacing-md);

  /* border: var(--border-black); */

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-bottom: var(--spacing-md);
}

.card__left {
  width: 354px;
  padding-right: var(--spacing-md);
}

.card__right {
  width: 100%;
}

.card__image {
  width: 100%;
}

.card__title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: var(--spacing-md);
}

.card__description {
  color: var(--text-black);
  font-size: 16px;
  line-height: 32px;
  margin-bottom: var(--spacing-md);
}

.card__actions .card__description {
  margin-bottom: 16px;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--secondary-color);
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  color: var(--text-white);

  transition: transform 0.2s ease-out;
  transform-origin: bottom;
}

.button.button--outlined {
  background-color: transparent;
  outline: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.button:hover {
  transform: translateY(2px) scale(1.05);
  background-color: rgba(238, 2, 144, 0.9);
  color: var(--text-white);
}

/* footer */
.footer {
  padding: var(--spacing-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  border-top: var(--border-black);
}
