* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-black: #222;
  --text-white: white;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
  --border-black: 1px solid rgba(0, 0, 0, 0.18);

  --spacing-lg: 24px;
  --spacing-md: 16px;
  --spacing-sm: 8px;

  --primary-color: #6002ee;
  --secondary-color: #ee0290;
  --success-color: #90ee02;
  --warning-color: #f0c200;
  --error-color: #ec005f;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: var(--text-black);
}

a {
  color: #000;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  padding: 16px 32px;
  box-shadow: var(--shadow);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 968px;
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--spacing-lg);
}

.header__logo {
  font-size: 24px;
  font-weight: 600;
}

.header__list {
  display: flex;
  justify-content: space-between;
}

.header__item {
}

.header__item a {
  display: inline-block;
  padding: 8px 16px;
}

/* container */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* main */
.main {
  padding: var(--spacing-lg);
  flex: 1;

  max-width: 968px;
  width: 100%;
  margin: 0 auto;
}

/* card */
.card {
  max-width: 300px;
  padding: var(--spacing-md);
  border: var(--border-black);
}

.card__title {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: var(--spacing-md);
}

.card__description {
  color: var(--text-black);
  font-size: 16px;
  line-height: 24px;
  /* margin-bottom: var(--spacing-md); */
}

.card__actions .card__description {
  margin-bottom: 16px;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--secondary-color);
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  color: var(--text-white);

  transition: transform 0.2s ease-out;
  transform-origin: bottom;
}

.button.button--outlined {
  background-color: transparent;
  outline: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.button:hover {
  transform: translateY(2px) scale(1.05);
  background-color: rgba(238, 2, 144, 0.9);
  color: var(--text-white);
}

/* footer */
.footer {
  padding: var(--spacing-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  border-top: var(--border-black);
}
